*{
    background-color: lavender;
}
h1{
    text-align: center;
    color: purple;
    background-color: magenta;
    font-size: 58px;
    font-family: 'Arial', monospace;
}
h2{
    font-size: 31px;
    font-family: 'Arial', monospace;
}
p{
    text-align: justify;
    font-size: 22px;
    font-family: 'Arial';
}
li{
    font-size: 22px;
    font-family: 'Arial';
}
img{
    width: 100%;
}