.frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
  }

  .btn-6 {
    background: rgb(247,150,192);
    background: radial-gradient(circle, rgba(247,150,192,1) 0%, rgba(118,174,241,1) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
  }
  .btn-6 span {
    position: relative;
    display: block;
   
  }
  .btn-6:before,
  .btn-6:after {
    position: absolute;
    content: "";
    height: 0%;
    width: 1px;
   box-shadow:
     -1px -1px 20px 0px rgba(255,255,255,1),
     -4px -4px 5px 0px rgba(255,255,255,1),
     7px 7px 20px 0px rgba(0,0,0,.4),
     4px 4px 5px 0px rgba(0,0,0,.3);
  }
  .btn-6:before {
    right: 0;
    top: 0;
    transition: all 500ms ease;
  }
  .btn-6:after {
    left: 0;
    bottom: 0;
    transition: all 500ms ease;
  }
  .btn-6:hover{
    background: transparent;
    color: #7d499b;
    box-shadow: none;
  }
  .btn-6:hover:before {
    transition: all 500ms ease;
    height: 100%;
  }
  .btn-6:hover:after {
    transition: all 500ms ease;
    height: 100%;
  }
  .btn-6 span:before,
  .btn-6 span:after {
    position: absolute;
    content: "";
    box-shadow:
     -1px -1px 20px 0px rgba(255,255,255,1),
     -4px -4px 5px 0px rgba(255,255,255,1),
     7px 7px 20px 0px rgba(0,0,0,.4),
     4px 4px 5px 0px rgba(0,0,0,.3);
  }
  .btn-6 span:before {
    left: 0;
    top: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
  }
  .btn-6 span:after {
    right: 0;
    bottom: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
  }
  .btn-6 span:hover:before {
    width: 100%;
  }
  .btn-6 span:hover:after {
    width: 100%;
  }

  button {
    margin: 20px;
  }

  .custom-btn {
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }

  .btn-8 {
    background-color: #f0ecfc;
    background-image: linear-gradient(315deg, #d8c8e6 0%, #77588f 74%);
    line-height: 42px;
    border: none;
  }
  .btn-8 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-8:before,
  .btn-8:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    transition: all 0.3s ease;
  }
  .btn-8:before{
     height: 0%;
     width: 2px;
  }
  .btn-8:after {
    width: 0%;
    height: 2px;
  }
  .btn-8:hover:before {
    height: 100%;
  }
  .btn-8:hover:after {
    width: 100%;
  }
  .btn-8:hover{
    background: transparent;
  }
  .btn-8 span:hover{
    color: #9a61c5;
  }
  .btn-8 span:before,
  .btn-8 span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    transition: all 0.3s ease;
  }
  .btn-8 span:before {
    width: 2px;
    height: 0%;
  }
  .btn-8 span:after {
    height: 2px;
    width: 0%;
  }
  .btn-8 span:hover:before {
    height: 100%;
  }
  .btn-8 span:hover:after {
    width: 100%;
  }  

h1{
    font-family: "Brush Script MT", "Georgia";
    color: #fff;
    font-size: 50px;
    margin: 0;
    padding: 10px;
}

p{
    font-family: "Arial";
    font-size: 15px;
    color: #fff;
}

body{
    margin: 0;
    font-family: "Arial";
    color: black;
}

.ul1{
  display: block;
  list-style: disc;
}

ul{
    list-style: none;
    padding: 0;
    overflow: hidden;
    transition: all .5s;
}
 
nav{
    background-color: rgb(70, 40, 82);
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
}

ul li p a {
    color: white;
    text-decoration: none;
}
 
nav,ul{
    display: flex;
    flex-direction: row;
}
 
.teste {
    color: #fff;
}
li{
    padding: 0 20px;
}

button{
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 36px;
    position: absolute;
    right: 10px;
    display: none;
}
 
.li1:hover,
h1:hover,
button:hover{
 
    cursor: pointer;
    opacity: 0.8;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
}
 
button:focus ~ul{
    height: 260px;
}
 
@media(max-width: 700px){
    nav,ul{
       flex-direction: column;
    }
 
    ul{
       text-align: center;
       margin: 0;
       height: 0;
    }
 
    nav{
       padding-top: 0px;
       align-items: flex-start;
    }
 
    h1{
       margin: 10px;
    }
 
    button{
       display: flex;
    }
 
    li,ul{
       width: 100%;
    }
}