h1{
    font-family: "Brush Script MT", "Georgia";
    color: #4B0082;
    font-size: 50px;
}

h2{
    font-family: "Arial";
    font-size: 25px;
}

p{
    font-family: "Arial";
    font-size: 15px;
}